.leaveForm {
  display: grid;
}

.leaveForm > div > input {
  margin: 0.5rem;
  height: 20px;
  width: 240px;
}

.leaveForm > div > textarea {
  margin: 0.5rem;
}

.sumitleaveForm button {
  margin: 0.6rem;
  width: 90%;
}
